.PromoBanner {
    margin-top: 75px;
    width: 100vw;
    padding: 50px;
    background-image: url("https://www.chipotle.com/content/dam/poc/order/images/promo-banners/carne-2020/2300x520-Desktop-Background-Carne@2x.jpg");
    background-size: cover;
    background-position: center;
    height: 520px;
    border-bottom: 1px solid #d4cbc7;
}

.PromoBanner a{
    color: unset;
}

.PromoBanner h1, h2, h3 {
    margin: 0px;
}

.PromoBanner h1{
    font-size: 60px;
    color: rgb(173, 33, 24);
}

.PromoBanner h2{
    font-size: 40px;
}

.PromoBanner h3{
   width: 500px;
   margin-top: 20px;
   font-size: 25px;
}

.PromoBanner .Button {
    margin-top: 50px;
    background-color: rgb(173, 33, 24);
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    height: 58px;
    font-weight: bold;
}

.PromoBanner p {
    font-weight: bold;
    width: 460px;
    height: 24px;
    font-size: 10px;
}