.PageContainer{
    z-index: 600;
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    
}

.PageOverlay{
    background-color: black;
    opacity: 50%;
    min-width: 90%;
}

.CheckoutSideDrawer{
    z-index: 700;
    position: absolute;
    right: 0px;
    width: 430px;
    height: 100%;
    background-color:white;
    overflow-y:auto;
}

.Header {
    height: 131px;
    border-bottom: 1px solid #d4cbc7;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.HeaderLeft{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.FindRestaurantBtn{
    border-radius: 50px;
    border: 1px solid #d4cbc7;
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.FindRestaurantBtn p{
    margin-left: 5px;
    border-left: 1px solid black;
    padding-left: 5px;
}

.MakeGroupOrderBtn {
    display: flex;
    flex-direction: row;
    color: #b68207;
    justify-content: center;
    align-items: baseline;
    
}

.MakeGroupOrderBtn p{
    margin-left: 10px;
    border-bottom: 2px solid #b68207;
    font-size: 18px;
    font-weight: bold;
}

.HeaderRight {
    color:  #d4cbc7;
    padding: 15px 15px 15px 0;
}

.HeaderRight Button{
    color:  #878280;
}

.Footer{
    background-color:  #451400;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 430px;
    height: 60px;
    cursor: pointer;
}

.Footer h1{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}


.OrderTotal{
    border-top: 1px solid #d4cbc7;
    background-color: rgb(252, 241, 225);
}

.OrderSummary, .OrderTotal{
    padding: 20px;
}

.OrderLineItem, .TotalLineItem{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.ItemName{
    padding-right: 15px;
    width: 250px;
}

.TotalLineItem{
    padding-bottom: 20px;
}


.AddMoreBtn{
    border: 1px solid #451400;
    text-align: center;
    padding: 10px;
    color: #451400;
    cursor: pointer;
    margin: 0px 20px;
}

.Hidden{
    visibility: hidden;
}