.ItemPageNav{
    z-index: 500;
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 1px solid #d4cbc7;
    align-items: center;
    padding: 5px;
    background-color: white;
    padding: 15px;
    justify-content: space-between;
}

.LeftSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Logo img{
    width: 95px;
    margin-left: 5px;
}

.SignIn {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
}

.SignIn p{
    margin: 0 10px;
}

.ReturnToMenu h1{
    border-left:  1px solid grey;
    padding: 0 30px;
}

.CheckOut{
    margin-right: 20px;
}

.ItemPageMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 110px;
}

.ItemPageBanner{
    margin-top: 100px;
    width: 90%;
    height: 340px;
    border-bottom: 1px solid #d4cbc7;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ItemPageBanner img{
   height: 80%;
}

.Description{
    width: 50vw;
    align-self: center;
}

.Description h2{
    color: #786259;
}

.Description h1{
    font-size: 60px;
    margin: 0;
}

.CheckoutBottomBar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #f7f2ed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.CheckoutBottomBar p {
    margin: 5px 0px;
}

.BottomButton{
    border: 1px solid #451400;
    background-color: #451400;
    color: #fff;
    width: 300px;
    height: 60px;
}

/* .ItemChoicesDiv{
    border: 1px green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */